@using Test.Domain.Entities

@model Department

@{
    ViewData["Title"] = "Department Details";
}

<h1>Department Details</h1>

<div>
    <h4>@Model.DepartmentName</h4>
    <hr />
    <img src="@Model.DepartmentLogo" alt="@Model.DepartmentName" style="width:100px; height:100px;" />
    <div>
        <h5>Parent Departments</h5>
        <ul>
            @foreach (var parent in ViewBag.ParentDepartments as List<Department>)
            {
                <li>@parent.DepartmentName</li>
            }
        </ul>
    </div>
    <div>
        <h5>Sub-Departments</h5>
        <ul>
            @foreach (var sub in Model.SubDepartments)
            {
                <li>@sub.DepartmentName</li>
            }
        </ul>
    </div>
</div>
