@using Test.Domain.Entities
@model IEnumerable<Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartmentLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <img src="@item.DepartmentLogo" alt="@item.DepartmentName" style="width:50px; height:50px;" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
